body
{
    background-color: #070610;
}

header
{
    display: flex;
    justify-content: space-between;
}

header h1
{
    margin: 5% 0% 0% 10%;
    color: #F0CE86;
}

.navigation
{
    transform: translate(5px,10px);
    margin: 5% 10% 0% 0%;
}

.navigation a
{
    cursor: pointer;
    color: #F0CE86;
    text-decoration: none;
}

.item
{
    text-align: center;
    margin: 5% 0;
}

img
{
    width: 50%;
    height: auto;
}

#about h2
{
    color: #FFFFFF;
}

@media (max-width: 767px)
{
    header
    {
        display: unset;
    }

    .navigation
    {
        transform: translate(0px,0px);
        margin: 5% 0% 10% 10%;
    }

    img
    {
        width: 80%;
        height: auto;
    }
}