body
{
    background-color: #13111A;
}

header
{
    display: flex;
    justify-content: space-between;
}

header h1
{
    margin: 5% 0% 0% 10%;
    color: #F9C871;
    cursor: pointer;
}

.navigation
{
    transform: translate(5px,10px);
    margin: 5% 10% 0% 0%;
}

.navigation a
{
    cursor: pointer;
    color: #F9C871;
    text-decoration: none;
}

.item
{
    position: relative;
    text-align: center;
    margin: 5% 0;
}

.item img
{
    width: 50%;
    height: auto;
    box-shadow: 0 0 30px;
    transition-duration: 0.3s;
}

.item img:hover
{
    transform: scale(1.05,1.05);
    cursor: pointer;
}

.item p
{
    display: none;
}

#about div
{
    color: #FFFFFF;
    margin: 5% 10%;
}

#about h2
{
    top: 10%;
}

#about p
{
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: .05em;
}

#about a::before {
    background-color: #eee;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #333;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    height: 44px; /* Button height */
    line-height: 44px; /* Button height */
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-align: center;
    width: 44px; /* Button width */
}
#about a:hover::before {
    color: #fff;
}

#about a[href*="twitter.com"]::before        { content: "\f099"; }
#about a[href*="twitter.com"]:hover::before  { background-color: #55acee; }

@media (max-width: 767px)
{
    header
    {
        display: unset;
    }

    .navigation
    {
        transform: translate(0px,0px);
        margin: 5% 0% 10% 10%;
    }

    .item
    {
        text-align: center;
        margin: 12% 0;
    }

    .item img
    {
        width: 80%;
        transition-duration: unset;
    }

    .item img:hover
    {
        transform: unset;
    }

    #about div
    {
        color: #FFFFFF;
        margin: 20% 10%;
    }

    #about a::before
    {
        height: 35px; /* Button height */
        line-height: 35px; /* Button height */
        width: 35px; /* Button width */
    }
}